<table class="table table-hover table-bordered">
  <tbody>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :body %></th>
      <td><%= f.text_area :body %></td>
    </tr>
  </tbody>
</table>
