<table class="table table-hover">
  <tbody>
    <tr>
      <th>タイトル</th>
      <td><%= article.title %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= article.body %></td>
    </tr>
  </tbody>
  <%= link_to 'Edit', edit_admin_article_path(@article) %> |
  <%= link_to 'Back', admin_articles_path %>
</table>
